@using Umbraco.Cms.Core.PublishedCache;
@using UmbracoFundamentals.Models.Constants
@using UmbracoFundamentals.Models.Content;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Blog>
@inject ITagQuery _tagQuery;
@{
    Layout = "Master.cshtml";

    var blogs = Model.Children<BlogEntry>().OrderByDescending(x => x.CreateDate);
    var tags = _tagQuery.GetAllContentTags();

    const string DefaultImageUrl = "https://placehold.co/400x250";
}
<div class="jumbotron jumbotron-small jumbotron-single d-flex align-items-center">
  <div class="container text-center">
    <h1 class="display-2 mb-4">@Model.Name</h1>
  </div>
</div>
<section id="blog" class="bg-grey">
    <div class="container">
        <div class="section-content">
            <div class="title-wrap mb-5 aos-init aos-animate">
                <h2 class="section-title">Blog</h2>
            </div>
            <div class="blog-tag">
                <h6>
                    <span class="clickable" onclick="clearSelections()"> Everything </span> |
                    @foreach (var tag in tags)
                    {
                        var tagText = tag?.Text;
                        if (!string.IsNullOrWhiteSpace(tagText))
                        {
                            <span class="clickable" onclick="toggleBlogItems(@($"'{tagText}'"))"> @tagText </span>
                        }
                    }
                </h6>
            </div>
            <div class="row">
                <!-- Blog -->
                <div class="col-md-12 blog-holder">
                    <div class="row">
                        @foreach (var blogItem in blogs)
                        {
                            var authors = blogItem.Value<string>("authors");
                            if (string.IsNullOrWhiteSpace(authors))
                            {
                                authors = "Anonymous";
                            }
                            <!-- Blog Item -->
                            <div class="col-md-4 blog-item-wrapper">
                                <div class="blog-item">
                                    <div class="blog-img">
                                        <a href="@blogItem.Url()">
                                            @if (blogItem.Image != null)
                                            {
                                                var mediaCrop = Url.GetCropUrl(blogItem.Image, ImageCropAliases.BlogThumbnail);
                                                <img src="@(mediaCrop?.ToHtmlString() ?? DefaultImageUrl)" alt="@blogItem.Image.Name">
                                            }
                                            else
                                            {
                                                <img src="@DefaultImageUrl" alt="">
                                            }
                                        </a>
                                    </div>
                                    <div class="blog-text">
                                        <div class="blog-tag">
                                            @if (blogItem.Categories != null)
                                            {
                                                <h6><small data-cats="@string.Join(' ', blogItem.Categories)">@string.Join(" | ", blogItem.Categories)</small></h6>
                                            }
                                        </div>
                                        <div class="blog-title">
                                            <a href="@blogItem.Url()"><h4>@blogItem.Name</h4></a>
                                        </div>
                                        <div class="blog-meta">
                                                <p class="blog-date">@blogItem.CreateDate.ToString("MMMM dd, yyyy")</p>
                                        </div>
                                        <div class="blog-desc">
                                            <p>@blogItem.Summary</p>
                                        </div>
                                        <div class="blog-author">
                                            <p>by @authors</p>
                                        </div>
                                        <div class="blog-share-wrapper">
                                            <a class="blog-share" href="https://www.facebook.com/">
                                                <i class="fab fa-facebook-square"></i>
                                            </a>
                                            <a class="blog-share" href="https://www.twitter.com/">
                                                <i class="fab fa-twitter-square"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Blog Item -->
                        }
                    </div>
                </div>
                <!-- End of Blog -->
            </div>
        </div>
    </div>
</section>

<section class="bg-fixed overlay">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="mb-2"></h2>
                </div>
            </div>
        </div>
    </div>
</section>